# Interactuar con el sistema and database  
supabase
requests
dotenv
sqlalchemy
mysql-connector-python

# Fetch data 
sodapy

# Analsis de datos & Machine learning 
datetime
Pandas 
numpy 
polars
scikit-learn
empiricaldist

# Visualización 
streamlit

