# Interactuar con el sistema and database  
supabase
request
dotenv
sqlalchemy

# Analsis de datos & Machine learning 
datetime
Pandas 
numpy 
polars
scikit-learn
empiricaldist

# Visualización 
streamlit

